body{
    background-color: #e9f6ff;
    margin: 8px;
}
.phonenumber {
    margin-left: 68px;
}
.phone{
    position: relative;
    text-align: center;
    top: 30px;
    font-size: 22px;
    color: #0072bc;
}
.nav-link{
    font-weight: bold;
    font-size: 26px;
    padding-left: 35px;
}

